<%#= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
<%# = react_component('Page', { text: @text }) %>

<div class="directory">
  <% @pages.each do |page| %>
    <div class="directory__entry">
      <div class="directory__title"><%= link_to page.title, page %></div>
      <div class="directory__author"><%= page.author %></div>
    </div>
  <% end %>
</div>
