
<div>
  <div class="page__title"><%= @page.title %></div>
  <div class="page__author"><%= @page.author %></div>
  <div>
    <%= react_component('Page', { page: @page, highlight: @highlight }) %>
  </div>
  <div id="save-highlighting" class="page__save-button"> save highlighting! </div>
</div>
