// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: text;
}

.page {
  position: relative;
  width: 70%;
  margin: 100px auto;

  #{&}__text {
    position: relative;
    line-height: 2;
    font-size: 1.5vw;
    font-family: Courier;
    @include unselectable();
  }
}
